{% extends "base.twig" %}
{% import 'components/partials/tabs.twig' as tabs %}

{% block head %}
<title>{{ site.name}} - </title>
{{ parent() }}
<link rel="stylesheet" href="{{ asset('resources/assets') }}/css/components/partials/forms.css" />
{% endblock %}

{% block bodyclass %}
	page-torneo bg-image bg-frontpage
{% endblock %}

{% block content %}

<!--page-iscrizione-torneo.twig page -->

<div class="page page-iscrizione-torneo">
	<div class="container">
		<input type="hidden" name="id_tournament" value="{{ tournament.id }}">
		<input type="hidden" name="_token" value="{{ csrf_token() }}">
		<section>
			<div class="section-title"><h1>{{ tournament.edition.name }}</h1></div>
			<div class="header-rounded-image">
					<picture>
						<img class="lazyload" data-srcset="{{ tournament.srcImgFeaturedBig }}, {{ tournament.srcImgFeaturedBigx2 }} 2x" alt="{{ tournament.title }}"/>
					</picture>
					<noscript>
							<picture>
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="{{ tournament.srcImgFeaturedBig }}" media="(max-width: 736px)"/>
									<!--[if IE 9]></video><![endif]-->
									<img src="{{ tournament.srcImgFeaturedBig }}" alt="{{ tournament.title }}"/>
							</picture>
					</noscript>
			</div>

			<div class="flex flex--center flex--column">
				<a href="{{ tournament.link }}/{{ queryItem.pages.generalita.link }}" class="yellow-text-link yellow-text-link--enter">{{ queryItem.pages.generalita.title }}</a>
				<a href="{{ config('app.url') }}/page/regolamento-generale" class="yellow-text-link yellow-text-link--enter">Regolamento Generale</a>
				<a href="{{ tournament.link }}/{{ queryItem.pages.fotogallery.link }}" class="yellow-text-link yellow-text-link--enter">{{ queryItem.pages.fotogallery.title }}</a>
			</div>

			<h2>{{ tournament.name }}</h2>
			<p>{{ tournament.date_start|date('d/m/Y') }} - {{ tournament.date_end|date('d/m/Y') }}</p>
			<p>{{ tournament.description }}</p>

		</section>

		<div class="separator"></div>

		<section>
			
			<div>
				<div class="tabs-scroller">
					<nav class="tabs__nav" role="navigation">
					{% for z in tournament.edition.zones %}							
						<a href="{{ config('app.url') }}/tournament/{{ tournament.id }}/zone/{{ z.id_zone }}/show" {% if z.id_zone == id_zone %} class="selected" {% endif %}>{{ z.zone.city.name }} - {{ z.zone.name }}</a>
					{% endfor %}
					</nav>
				</div>
			</div>		
			{% if id_zone %}
				
					{% if categoryTypes %}		
					<div>
						<div class="tabs-scroller">
							<nav class="tabs__nav" role="navigation">
							{% for ct in tournament.edition.categoryTypes %}							
								<a href="{{ config('app.url') }}/tournament/{{ tournament.id }}/zone/{{ id_zone }}/category-type/{{ ct.categoryType.id }}/show" {% if ct.categoryType.id == id_category_type %} class="selected" {% endif %}>{{ ct.categoryType.name }}</a>
							{% endfor %}
							</nav>
						</div>
					</div>
					{% endif %}


					{% if categories %}	
						<div class="tabs-scroller">
							<nav class="tabs__nav" role="navigation">
							{% for c in tournament.edition.categories %}						
								<a href="{{ config('app.url') }}/tournament/{{ tournament.id }}/zone/{{ id_zone }}/category-type/{{ id_category_type }}/category/{{ c.category.id }}/show"  {% if c.category.id == id_category %} class="selected" {% endif %}>{{ c.category.name }}</a>
							{% endfor %}
							</nav>
						</div>
					{% endif %}

					{% if groups %}		
						<div class="tabs-scroller">
							<nav class="tabs__nav" role="navigation">
							{% for g in groups %}						
							<a href="{{ config('app.url') }}/tournament/{{ tournament.id }}/zone/{{ id_zone }}/category-type/{{ id_category_type }}/category/{{ id_category }}/group/{{ g.id }}/show" {% if g.id == group.id %} class="selected" {% endif %}>Girone {{ g.name }}</a>
							{% endfor %}

							{% if id_bracket %}
							<a href="{{ config('app.url') }}/tournament/{{ tournament.id }}/zone/{{ id_zone }}/category-type/{{ id_category_type }}/category/{{ id_category }}/bracket/{{ id_bracket }}/show">Tabellone</a>
							{% endif %}
							</nav>
						</div>	
					{% endif %}		

					<br>														

					{#
					{% if group %}				
						ID gruppo: {{ group.id }}
					{% endif %}

					{% if bracket %}				
						ID tabellone: {{ bracket.id }}
					{% endif %}
					#}
					
					{% if tournament_started %}

						<br>il torneo è iniziato il {{ tournament.date_start|date('d/m/Y') }}

						{% if classification %}
							<div class="flex flex--column flex--center">
								<div class="section-title section-title--no-separator"><span>Classifica</span></div>
								<div class="card card-scroller card-scroller--vertical">
									<div class="card-scroller--vertical__header">
										<div class="spacer"></div>
										<div>
											<span>pt.</span>
											<span>gi.</span>
											<span>sv/sp</span>
											<span>gv/gp</span>
										</div>
									</div>
									<ul class="card-scroller--vertical__body flex flex--column">
										{% for teamClassification in classification %}
										<li>
											{% include 'components/partials/card-team-stats.twig' %}
										</li>
										{% endfor %}
									</ul>
								</div>
							</div>
							{% set cardteamstats = "exists" %}

							<div class="flex flex--column flex--center">
								<ul class="flex flex--column" style="width:100%; max-width: 320px">					
									{% for round in rounds %}
										<h2>Giornata {{ round.name }}</h2>
										<h3>{{ round.description }}</h3>
										{% for match in round.matches %}
										<li>
											
											{% include 'components/partials/card-match.twig' %}
										</li>
										{% endfor %}
									{% endfor %}
								</ul>
							</div>
						{% endif %}

					{% else %}												

						<br>il torneo inizierà il {{ tournament.date_start|date('d/m/Y') }}
										
						{% if can_subscribe %}													

							{% if logged_in %}													 								

								{% if subscribed %}

									<h2>Sei già iscritto a questo torneo</h2>

								{% else %}
									
									<form id="register-team" action="/subscribe" method="post">
										<input type="hidden" name="_token" value="{{ csrf_token() }}">
										<input type="hidden" name="id_tournament" value="{{ id_tournament }}">
										<input type="hidden" name="id_zone" value="{{ id_zone }}">

										<h1>Iscriviti al Torneo</h1>

										<div class="input-field input-field--select input-field--center">
											<select id="select-category-type" name="select-category-type" class="dropdown dropdown--light">
													<option selected disabled >Seleziona Tipologia</option>
													{% for option in tournament.edition.categoryTypes %}
															<option value="{{ option.id_category_type }}">{{ option.categoryType.name }}</option>
													{% endfor %}
											</select>
										</div>

										<div class="input-field input-field--select input-field--center">
											<select id="select-player-1" name="select-player-1" class="dropdown dropdown--light">
													<option selected disabled >Giocatore 1 titolare...</option>
													{% for option in players %}
															<option value="{{ option.id }}">{{ option.name }}</option>
													{% endfor %}
											</select>
											<select id="select-player-2" name="select-player-2" class="dropdown dropdown--light">
													<option selected disabled >Giocatore 2 titolare...</option>
													{% for option in players %}
															<option value="{{ option.id }}">{{ option.name }}</option>
													{% endfor %}
											</select>
											<select id="select-player-3" name="select-player-3" class="dropdown dropdown--light">
													<option selected disabled >Giocatore 3 riserva...</option>
													{% for option in players %}
															<option value="{{ option.id }}">{{ option.name }}</option>
													{% endfor %}
											</select>
										</div>
										<div class="cta-container cta-container--center">
											<button type="submit" class="cta cta--enter cta--yellow">Registra squadra</a>
										</div>
									</form>

								{% endif %}

							{% else %}

								<h2>Devi effettuare l'accesso per isciverti al torneo</h2>

							{% endif %}
							

						{% else %}

							{# <br>L'utente non può iscriversi #}

						{% endif %}


						<br>


						{# Iscritti al torneo #}
						{% for subscription in subscriptions %}						
							{% if tournament.id_tournament_type == 1 %}		
								{% set team = subscription %}
								{% include 'components/partials/card-team-torneo.twig' %}				
							{% else %}
								{% set team = subscription %}
								{% include 'components/partials/card-team-torneo.twig' %}				
							{% endif %}
						{% endfor %}	

						
					{% endif %}

					
			{% endif %}
		</section>

		<style>
			div.scrollmenu {
				background-color: #999966;
				overflow: auto;
				white-space: nowrap;
			}

			div.scrollmenu a {
				display: inline-block;
				color: white;
				text-align: center;
				padding: 14px;
				text-decoration: none;
			}
			
			div.scrollmenu span {
				width: 80px;    
    			margin-left: 10px;
    			display: inline-block;
			}

			div.scrollmenu a.selected{
				color: yellow;
				font-weight: normal;
			}

			
		</style>
	</div>
</div>
{% endblock %}
