{% extends "base.twig" %}

{% block head %}
<title>{{ site.name}} - Archivio</title>
{{ parent() }}
{% endblock %}


{% block bodyclass %}
	archive-circoli bg-image bg-frontpage
{% endblock %}

{% block content %}
<!--archive-circoli.twig page -->
<div class="archive archive-giocatori">
	<div class="section-title "><span>Archivio</span></div></br>
	{% include 'components/partials/search-form.twig' %}

	<div class="input-field input-field--select input-field--center">			
            <select id="year_sel" name="year_sel" class="dropdown dropdown--light">			                                
                {% for year in 2020..current_year %}
                        <option value="{{year}}" {% if selected_year == year %} selected {% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
	</div>

	<div class="separator_list"></div>
	{% for queryItem in tournaments %}
        
            <a href="{{ queryItem.link }}">
                {% include 'components/partials/card-events--big.twig' %}
            </a>

        {% endfor %}
</div>
<section>
<div>
{{clubs.links()|raw}}
</div>
</section>
{% endblock %}


{% block scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById('year_sel').addEventListener('change', function(){
        var year_select = document.getElementById('year_sel');
        var sel_year = year_select.options[year_select.selectedIndex];
        
        if( sel_year.value !== '' ){
            document.location.href = "/archive/matches/"+sel_year.value+window.location.search;
        }else{
            document.location.href = "/archive/matches/"+window.location.search;
        }
    });
});
</script>
{% endblock %}
