{% extends "base.twig" %}

{% block head %}
<title>{{ site.name}} - Calendar</title>
{{ parent() }}
{% endblock %}


{% block bodyclass %}
	front-page bg-image bg-frontpage
{% endblock %}

{% block content %}
<!--front-page.twig page -->
<div class="archive archive-giocatori">
	<div class="section-title "><span>Eventi in corso</span></div></br>

	<link rel="stylesheet" href="{{ asset('resources/assets') }}/css/components/partials/forms.css?v=1.0.4" />

	<div class="input-field input-field--select input-field--center">			
		<select id="select-city" name="select-city" class="dropdown dropdown--light">
			<option value="">Tutte le città</option>
			{% for city in cities %}
				<option value="{{ city.slug }}" {% if selected_city == city.slug %} selected {% endif %}>{{ city.name }}</option>
			{% endfor %}
		</select>
	</div>


	{% for queryItem in events %}
		<div style="padding: 20px;">
			{% include 'components/partials/card-event.twig' %}
		</div>
	{% endfor %}
</div>
<section>
<div>
{{rankings.links()|raw}}
</div>
</section>
{% endblock %}


{% block scripts %}
	<script>
	$("#select-city").change(function(){
		if($(this).val() != ''){
			document.location.href="{{ config('app.url') }}/current-events/"+$(this).val();
		}else{
			document.location.href="{{ config('app.url') }}/current-events";
		}
	});
	</script>
{% endblock %}