{% extends "base.twig" %}

{% block head %}
<title>{{ site.name}} - Login</title>
{{ parent() }}
{% endblock %}

{% block bodyclass %}
	login-page bg-image bg-frontpage
{% endblock %}

{% block content %}

<!--page-login.twig page -->

<style>

    label {
        padding: 10px;
        color: yellow;
        display: block;
        text-decoration: none;
    }

    * {
    box-sizing: border-box;
    }
                    
    /*the container must be positioned relative:*/
    .autocomplete {
    position: relative;
    display: inline-block;
    }

    input {
    background: rgba(0,0,0,0.1); 
    /* border-radius: 8px; */ 
    border: 1px solid #fff; 
    color: white;
    padding:10px;
    width: 100%;
    }
                
    input[type=submit] {
    background-color: rgba(0,0,0,0.7);
    color: yellow;
    cursor: pointer;
    }

    .autocomplete-items {
    position: absolute;
    border: 1px solid #000;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    }

    .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #fff; 
    }

    /*when hovering an item:*/
    .autocomplete-items div:hover {
    background-color: #e9e9e9; 
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
    }

    span.section-title-selection {
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    color: #FFE200;
    margin: 10px;
    padding: 10px 0px 0px 0px;
    }


    a.legenda {
    background-color: #999966;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #fff;
    /* display: inline-block; */
    font-size: 12px;
    padding: 2px;
    text-shadow: -1px 0 black, 0 1px black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    /*the container must be positioned relative:*/
    .autocomplete {
    position: relative;
    display: inline-block;
    }

    input {
    background: rgba(0,0,0,0.1); 
    /* border-radius: 8px; */ 
    border: 1px solid #fff; 
    color: white;
    padding:10px;
    }

    input[type=submit] {
    background-color: rgba(0,0,0,0.7);
    color: yellow;
    cursor: pointer;
    }

    .autocomplete-items {
    position: absolute;
    border: 1px solid #000;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    }

    .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #fff; 
    }

    /*when hovering an item:*/
    .autocomplete-items div:hover {
    background-color: #e9e9e9; 
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
    }

    li.list {
    color: #FFF;
    margin: 10px 50px;
    }

    li.list:before {
    content: "•";
    padding-right: 8px;
    margin-left: -10px;  margin-right: 10px;
    color: #FFE200;
    }

    li.list:after {
    content: "";
    padding-right: 0px;
    }

    .dropdown--light {
    font-size: 16px;
    }

    button.bottone_giocatore {
    font-family: Courgette;
    border: 1px solid #FFF;
    /* border-radius: 8px; */
    color: #FFE200;
    font-size: 13px;
    padding: 13px 5px;
    margin: 0px 2px;
    }

    span.section-title-giorno {
    border-top: 1px solid #999966;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    color: #FFE200;
    margin: 10px;
    padding: 10px 0px 0px 0px;
    }

    span.section-title-Note {
    border-top: 1px solid #999966;
    font-size: 22px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    color: #FFE200;
    margin: 10px;
    padding: 10px 0px 0px 0px;
    }


    span.section-title-disp {
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    color: #FFE200;
    margin: 10px;
    padding: 10px 0px 0px 0px;
    }


    span.section-disponibilità {
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    color: #FFF;
    margin: 10px;
    }

    .note {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    padding: 5px; 
    border-top: 1px solid #999966;
    }

    span.section-title-del {
        font-size: 22px;
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: left;
        text-align: left;
        color: #FFE200;
        margin: 10px;
        padding: 10px 0px 0px 0px;
    }

    .note {
        width: 100%; 
        display: flex; 
        justify-content: center; 
        padding: 5px; 
        border-top: 1px solid #999966;
        }

                    
</style>

<div class="page page-login">

    <form action="{{ route('admin.update_profile') }}" method="POST" enctype="multipart/form-data">                

	<section>		
        
		<article class="card card-info--big">            
        
                <input name="_token" type="hidden" value="{{ csrf_token() }}">                

                <span style="text-align: center; " class="section-title section-title--no-separator">Profilo Circolo</span>                                                        
                    
                <div style="display: grid; justify-content: center;" >                         

                    <div class="header-rounded-image">
                        <picture>
                            <img class=" lazyloaded" data-srcset="{{ avatar }} , {{ avatar }} 2x" srcset="{{avatar}} , {{avatar }} 2x">
                        </picture>
                        <noscript>
                            <picture>
                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                <source srcset="{{ avatar }}, {{ avatar }} 2x" media="(max-width: 736px)"/>
                                <!--[if IE 9]></video><![endif]-->
                                <img src="{{ avatar }}" alt=""/>
                            </picture>
                        </noscript>					
                    </div>
                    <div style="">
                        <input type="file" name="profile_image"> 
                    </div>
                </div>                

                        
                <div  style="width: 100%; display: grid; padding: 5px;" class="">  

                    <!-- Name Field -->
                    <div class="text-center">                        
                        <label style="text-align: center;"  for="club_name">Nome Circolo</label>
                        <input class="form-control" name="club_name" type="text" value="{{ club.name }}" id="name">
                    </div>

                    <!-- Name Field -->
                    <div class="text-center">                        
                        <label style="text-align: center;"  for="name">Nome Responsabile</label>
                        <input class="form-control" name="name" type="text" value="{{ current_user.name }}" id="name">
                    </div>

                    <!-- Cogname Field -->
                    <div class="text-center">                        
                        <label  style="text-align: center;"  for="surname">Cognome Responsabile</label>
                        <input class="form-control" name="surname" type="text" value="{{ current_user.surname }}" id="surname">
                    </div>

                    <!-- Email Field -->
                    <div class="text-center">
                        <label  style="text-align: center;"  for="email">Email</label>
                        <input class="form-control" name="email" type="text" value="{{ current_user.email }}" id="email">
                    </div>
                                                                                                                                                                                                  
                </div>
                
        </article>


        <article class="card card-info--big">            
        
            <span  style="text-align: center; " class="section-title section-title--no-separator">Contatti</span>
                    
            <div  style="width: 100%; display: grid; padding: 5px;" class="">  
                <!-- Name Field -->
                <div class="text-center">                        
                    <label style="text-align: center;"  for="name">Telefono</label>
                    <input class="form-control" name="phone" type="text" value="{{ club.phone }}" id="name">
                </div>

                <!-- Cogname Field -->
                <div class="text-center">                        
                    <label  style="text-align: center;"  for="surname">Cellulare</label>
                    <input class="form-control" name="mobile_phone" type="text" value="{{ club.mobile_phone }}" id="surname">
                </div>

                <div class="text-center">          
                    <!-- Sesso Field -->
                    <label  style="text-align: center;" for="id_city">Città</label>                                                                                                              
                    <select id="id_city" name="id_city" class="dropdown dropdown--light">
                        <option selected="" disabled="" required="">Città</option>					

                        {% for city in cities %}
                        <option value="{{ city.id }}" {% if current_user.id_city == city.id %} selected {% endif %}>{{ city.country.name }} - {{ city.name }}</option>					
                        {% endfor %}
                    </select>
                </div>       

                <!-- Email Field -->
                <div class="text-center">
                    <label  style="text-align: center;"  for="email">Indirizzo</label>
                    <input class="form-control" name="address" type="text" value="{{ club.address }}" id="email">
                </div>
                                                                                                                                                                                                
            </div>
                
        </article>

        <article class="card card-info--big">
            <div class="card__content">
                <div class="card__title">
                    <h1 class="section-title">Descrizione</h1>
                </div>
                <div class="editorial">
                        {{ club.description }}
                        </p>
                </div>
            </div>
        </article>

    

        <div style="margin-bottom:10px;" class="cta-container cta-container--center">
            <button type="submit" name="btn_submit_profile" value="save_profile" class="loginform cta cta--enter cta--yellow">Salva Profilo</button>
        </div>

	</section>
</div>
    
{% endblock %}
