{% extends "base.twig" %}

{% block head %}
<title>{{ site.name}} - Squadra</title>
{% endblock %}


{% block bodyclass %}
    front-page bg-image bg-frontpage
{% endblock %}

{% block content %}    
      
<!--front-page.twig page -->
<div class="archive archive-giocatori" style="margin-top: 50px">
    
    <article class="card card-events--big">

        <link rel="stylesheet" href="{{ asset('resources/assets') }}/css/components/partials/card-events--big.css?v={{version}}" />

        <div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->

            {% set avatar = null %}
            {% for meta in macro_team.club.user.metas %}
                {% if meta.meta == 'avatar' %}
                    {% set avatar = '/storage/' ~ meta.meta_value %}
                {% endif %}
            {% endfor %}   
            
            
            <picture data-link="/players/{{ queryItem.id }}/show">
                <img class="lazyload" data-srcset="{{ avatar }}, {{  avatar }} 2x" alt="{{ queryItem.name  }}"/>
            </picture>
            <noscript>
            <picture>
                <!--[if IE 9]><video style="display: none;"><![endif]-->
                <source srcset="{{ avatar }}" media="(max-width: 736px)"/>
                <!--[if IE 9]></video><![endif]-->
                <img src="{{ avatar }}" alt="{{ queryItem.name  }}"/>
            </picture>
            </noscript>


        </div>
        <div class="card__content">
            <div class="card__title">
                <h3>{{ macro_team.name }}</h3>
            </div>
            <p class="abstract">{{ macro_team.club.name }}</p>            
            <div class="abstract2" style="margin-top: 0 !important; font-size: 13px !important">{{ macro_team.club.address }} - {{ macro_team.club.phone }}</div>	
            <br>
            <p class="abstract" style="text-align: center">
                <span style="color:#FFE200">Giorno e ora partita in casa</span><br>
                <span>{{ macro_team.info_match_home }}<span>
            </p>            
            <br>
            <p class="abstract" style="text-align: center">
                <span style="color:#FFE200">Capitano</span><br>
                <span>{{ macro_team.captain }}<span>
            </p>            
            <br>
            <p class="abstract" style="text-align: center">
                <span style="color:#FFE200">Contatto telefonico della squadra</span><br>
                <span>{{ macro_team.tel_captain }}<span>
            </p>            
        </div>                
        
    </article>

    <div class="archive archive-giocatori">
        <div class="section-title "><span>Giocatori</span></div></br>
        

        <div class="separator_list"></div>
        {% for teamPlayer in macro_team.players %}			
            {% set queryItem = teamPlayer.player %}
            {% include 'components/partials/list-item-giocatore.twig' %}
        {% endfor %}
    </div>
    
    <div class="flex flex--column flex--center">
        
        <div class="card card-scroller card-scroller--vertical card-classifica">

            <link rel="stylesheet" href="{{ asset('resources/assets') }}/css/components/partials/card-team-classifica.css?v=1.0.4">

            <table>
                <tbody>
                    <tr>                        
                        <td class="TDvalueName" ><span style="margin: 10px;">Giocatore</span></td>                        
                        <td class="TDvalueName" ><span style="margin: 10px;">Giocate</span></td>                                                
                        <td class="TDvalueName" ><span style="margin: 30px;">Vinte/Perse</span></td>
                    </tr>
                    {% for teamPlayer in classifica %}
                        {% include 'components/partials/card-player-stats-macro.twig' %}
                    {% endfor %}
                </tbody>
            </table>                            

            <style>

                .TDvalueName {
                    text-align:center;
                    width: 100%;
                    padding: 10px 0px;
                    color: #999966;
                    border-bottom: 1px solid #fff;
                    border-left: 1px solid #fff;
                }

                .TDvalue {
                    text-align:center;
                    vertical-align: middle;
                    width: 50px;
                    color: #FFE200;
                    border-left: 1px solid #fff;
                    font-size: 15px;
                }

                .lineTeam {
                    border-bottom: 1px solid #fff;
                }

                @media only screen and (max-width: 320px) {
                    .card.card-scroller.card-scroller--vertical.card-classifica {
                        min-width: 320px;
                        margin-left: -17px;
                    }
                    .card-team-classifica .card__inner {
                        padding: 0px;
                    }
                }

            </style>

        </div>
    </div>

    
        <link href="{{ asset('resources/assets') }}/css/components/partials/card-macro-match.css?v=1.0.4" rel="stylesheet">    
        <ul>            
            {% for id_round, round in giornate %}                  
                {% if  macro_matches[round.id] is defined %}
                <div class="section-title "><span>
                        {% if round.name == '1' %}
                            Prima Giornata
                        {% elseif round.name == '2' %}
                            Seconda Giornata
                        {% elseif round.name == '3' %}
                            Terza Giornata
                        {% elseif round.name == '4' %}
                            Quarta Giornata
                        {% elseif round.name == '5' %}
                            Quinta Giornata
                        {% elseif round.name == '6' %}
                            Sesta Giornata
                        {% elseif round.name == '7' %}
                            Settima Giornata
                        {% elseif round.name == '8' %}
                            Ottava Giornata
                        {% elseif round.name == '9' %}
                            Nona Giornata
                        {% elseif round.name == '10' %}
                            Decima Giornata
                        {% elseif round.name == '11' %}
                            Undicesima Giornata
                        {% elseif round.name == '12' %}
                            Dodicesima Giornata
                        {% elseif round.name == '13' %}
                            Tredicesima Giornata
                        {% elseif round.name == '14' %}
                            Quattordicesima Giornata
                        {% elseif round.name == '15' %}
                            Quindicesima Giornata
                        {% elseif round.name == '16' %}
                            Sedicesima Giornata
                        {% elseif round.name == '17' %}
                            Diciassettesima Giornata
                        {% elseif round.name == '18' %}
                            Diciottesima Giornata
                        {% elseif round.name == '19' %}
                            Diciannovesima Giornata
                        {% elseif round.name == '20' %}
                            Ventesima Giornata
                        {% else %}
                            Giornata {{ round.name }}
                        {% endif %}
                        
                        {% if( round.description != '' ) %}
                            <br>{{ round.description }}
                        {% endif %}
                 </span></div></br>
                 {% endif %}
                
                {% for macroMatch in macro_matches[round.id] %}                                            
                    <div  style="margin-bottom: 0px;"  >
                        <li style="margin: 2px;" >			                            
                            {% include 'components/partials/card-macro-match.twig' %}
                        </li>
                    </div>                    
                {% endfor %}
            {% endfor %}
        </ul>
    
    
       
    
</div>

{% endblock %}
