{% extends "base.twig" %}
{% import 'components/partials/tabs.twig' as tabs %}

{% block head %}
<title>{{ site.name}} - </title>
{{ parent() }}
<link rel="stylesheet" href="{{ asset('resources/assets') }}/css/components/partials/forms.css" />
{% endblock %}

{% block bodyclass %}
	page-iscrizione-torneo bg-image bg-frontpage
{% endblock %}

{% block content %}

<style>
.card-info--big picture {
    padding-bottom: 100% !important;
}
</style>

<article class="card card-info--big">

	
	<link rel="stylesheet" href="{{ asset('resources/assets') }}/css/components/partials/card-info--big.css?v=1.0.4">

	
	<!-- code here -->

	<div style="text-align: center;" class="container">
		<input type="hidden" name="id_tournament" value="85">
		<input type="hidden" name="_token" value="GqqXneCZYEWKgx07qSMEwJGnNpsUu9k6AlkDxBDi">
		<section>
			<div class="section-title"><h1>{{ tournament.edition.edition_name }}</h1></div>			
			<div class="header-rounded-image">
					<picture>
						<img class="lazyload" data-srcset="{{ tournament.srcImgFeaturedBig }}, {{ tournament.srcImgFeaturedBigx2 }} 2x" alt="{{ tournament.title }}"/>
					</picture>
					<noscript>
							<picture>
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="{{ tournament.srcImgFeaturedBig }}" media="(max-width: 736px)"/>
									<!--[if IE 9]></video><![endif]-->
									<img src="{{ tournament.srcImgFeaturedBig }}" alt="{{ tournament.title }}"/>
							</picture>
					</noscript>					
			</div>
		</section>


		<style>
			div.scrollmenu {
				background-color: #999966;
				overflow: auto;
				white-space: nowrap;
			}

			div.scrollmenu a {
				display: inline-block;
				color: white;
				text-align: center;
				padding: 14px;
				text-decoration: none;
			}
			
			div.scrollmenu span {
				width: 80px;    
    			margin-left: 10px;
    			display: inline-block;
			}

			div.scrollmenu a.selected{
				color: yellow;
				font-weight: normal;
			}
			
			
		</style>
	
</div>
	
</article>

<h1>Non puoi iscriverti come circolo</h1>

{% endblock %}
