{% extends "base.twig" %}
{% import 'components/partials/tabs.twig' as tabs %}

{% block head %}
<title>{{ site.name}} - </title>
{{ parent() }}
<link rel="stylesheet" href="{{ asset('resources/assets') }}/css/components/partials/forms.css" />
{% endblock %}

{% block bodyclass %}
	page-iscrizione-torneo bg-image bg-frontpage
{% endblock %}

{% block content %}

<!--page-iscrizione-torneo.twig page -->
{% set queryItem = events[0] %}

<div class="page page-iscrizione-torneo">
	<div class="container">
		<section>
			<div class="section-title"><h1>{{ queryItem.title }}</h1></div>
			<div class="header-rounded-image">
					<picture>
						<img class="lazyload" data-srcset="{{ queryItem.srcImgFeaturedBig }}, {{ queryItem.srcImgFeaturedBigx2 }} 2x" alt="{{ queryItem.title }}"/>
					</picture>
					<noscript>
							<picture>
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="{{ queryItem.srcImgFeaturedBig }}" media="(max-width: 736px)"/>
									<!--[if IE 9]></video><![endif]-->
									<img src="{{ queryItem.srcImgFeaturedBig }}" alt="{{ queryItem.title }}"/>
							</picture>
					</noscript>
			</div>

			<div class="flex flex--center">
				<a href="{{ queryItem.link }}/{{ queryItem.pages.generalita.link }}" class="yellow-text-link yellow-text-link--enter">{{ queryItem.pages.generalita.title }}</a>
				<a href="{{ queryItem.link }}/{{ queryItem.pages.regolamento.link }}" class="yellow-text-link yellow-text-link--enter">{{ queryItem.pages.regolamento.title }}</a>
				<a href="{{ queryItem.link }}/{{ queryItem.pages.fotogallery.link }}" class="yellow-text-link yellow-text-link--enter">{{ queryItem.pages.fotogallery.title }}</a>
			</div>


		</section>

		<div class="separator"></div>

		<section>
			<div class="input-field input-field--select input-field--center">
				<select id="select-zone" name="select-zone" class="dropdown dropdown--light">
						<option selected disabled >Seleziona zona...</option>
						{% for option in queryItem.zones %}
								<option value="{{ option.link }}">{{ option.name }}</option>
						{% endfor %}
				</select>
			</div>
			<div class="cta-container cta-container--center">
				<button class="cta cta--enter cta--yellow  cta--rounded">Visualizza tutti i tornei</button>
			</div>

			<div class="tabs tabs--teams">

				 {{ tabs.tabs([{label:'maschili', id: 'maschili', group: 'groupName', checked: 'checked'},{label:'femminili', id: 'femminili', group: 'groupName'}]) }}
				 <div class="tabs__body">
	       <div class="tabs__body__panel tabs__body__panel--maschili">
					 	{% for queryItem in maleteams %}
								{% include 'components/partials/card-team-torneo.twig' %}
						{% endfor %}
				 </div>
	       <div class="tabs__body__panel tabs__body__panel--femminili">
					 	{% for queryItem in femaleteams %}
								{% include 'components/partials/card-team-torneo.twig' %}
						{% endfor %}
				 </div>
		     </div>
			</div>

			<div class="cta-container cta-container--center">
				<button class="cta cta--enter cta--yellow">Iscriviti nella zona</button>
			</div>

		</section>
	</div>
</div>
{% endblock %}
