<tr class="lineTeam">
    <td>
        <div class="card-team-classifica">
            <div class="card__inner">

                
                   
                {% set avatar = '' %}	
                {% for meta in teamPlayer['giocatore'].metas %}
                    {% if meta.meta == 'avatar' %}								
                        {% set avatar = '/storage/' ~ meta.meta_value  %}
                    {% endif %}
                {% endfor %}						

                {% if avatar == '' %}	
                    {% if teamPlayer['giocatore'].gender == 'f' %}
                        {% set avatar = 'https://cdn.xl.thumbs.canstockphoto.es/padel-mujer-jugador-vectores-eps_csp69229035.jpg' %}
                    {% else %}
                        {% set avatar = 'https://comps.canstockphoto.es/padel-jugador-figura-vectores-eps_csp61076734.jpg' %}		
                    {% endif %}
                {% endif %}							


                    <div class="player ">
                        <div class="divTable">
                            <div class="divTableBody">
                                <div class="divTableRow" style=" justify-content: space-between;">

                                    <div style="display: table-cell;vertical-align: middle;padding: 3px; text-align: right;" class="divTableCell">
                                        <div class="player__name" style="font-size: 13px;min-width: 70px;max-width: 100px;text-align: right;color: #fff;">
                                            <a href="{{ config('app.url') }}/players/{{ teamPlayer['giocatore'].id }}/show">{{ teamPlayer['giocatore'].name }} {{ teamPlayer['giocatore'].surname }}</a>
                                        </div>
                                    </div>

                                    <div style="display: table-cell;vertical-align: middle;padding: 3px;min-width: 35px;" class="divTableCell">
                                        <div style="border: 2px solid #333;width: 35px;border-radius: 50%;overflow: hidden;">
                                            <picture data-link="/players/{{ teamPlayer['giocatore'].id }}/show">
                                                <img class=" lazyloaded" 
                                                     data-srcset="{{avatar}}, {{avatar}} 2x" 
                                                     alt="{{ teamPlayer['giocatore'].name }} {{ teamPlayer['giocatore'].surname }}" 
                                                     srcset="{{avatar}}, {{avatar}} 2x">
                                            </picture>
                                            <noscript>
                                            <picture>
                                                <!--[if IE 9]><video style="display: none;"><![endif]-->
                                                <source srcset="" media="(max-width: 60px)"/>
                                                <!--[if IE 9]></video><![endif]-->
                                                <img src="" alt="{{ teamPlayer['giocatore'].name }} {{ teamPlayer['giocatore'].surname }}"/>
                                            </picture>
                                            </noscript>
                                        </div>
                                    </div>
                                    <div style="display: table-cell; vertical-align: middle; padding: 3px;" class="divTableCell">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                						        		

            </div>
        </div>
    </td>

    {#
    <td class="TDvalue">
        <div class="card__footer card__footer--separated">
            <div>
                <span class="card__footer__value">{{ teamPlayer['punti'] }}</span>
            </div>
        </div>
    </td>
    #}
    
    <td class="TDvalue">
        <div class="card__footer card__footer--separated">
            <div>
                <span class="card__footer__value">{{ teamPlayer['dett']['played'] }}</span>
            </div>
        </div>
    </td>    
        
    <td class="TDvalue">
        <div class="card__footer card__footer--separated">
            <div>
                <span class="card__footer__value">{{ teamPlayer['dett']['won'] }} / {{ teamPlayer['dett']['lost'] }}</span>
            </div>
        </div>
    </td>
        
    {#
    <td class="TDvalue">
        <div class="card__footer card__footer--separated">
            <div>
                <span class="card__footer__value">{{ teamPlayer['dett']['sw'] }} / {{ teamPlayer['dett']['sl'] }}</span>
            </div>
        </div>
    </td>
    #}
    


</tr>