<!-- card-team-torneo.twig partial -->

<div class="card card-team-torneo">

	{% if loop.index <= 1 and cardteamtorneo is not defined or loop.index is not defined and cardteamtorneo is not defined %}

	<link rel="stylesheet" href="{{ asset('resources/assets') }}/css/components/partials/card-team-torneo.css?v={{version}}" />

	{% endif %}
	<div class="card__inner">

		{% for teamPlayer in subscription.team.players %}	
			{% if teamPlayer.starter %}

				{% set avatar = '' %}	
				{% for meta in teamPlayer.player.metas %}
					{% if meta.meta == 'avatar' %}
						{% set avatar = '/storage/' ~ meta.meta_value  %}
					{% endif %}
				{% endfor %}
				{% if avatar == '' %}	
					{% if teamPlayer.player.gender == 'f' %}
						{% set avatar = 'https://cdn.xl.thumbs.canstockphoto.es/padel-mujer-jugador-vectores-eps_csp69229035.jpg' %}
					{% else %}
						{% set avatar = 'https://comps.canstockphoto.es/padel-jugador-figura-vectores-eps_csp61076734.jpg' %}		
					{% endif %}
				{% endif %}	
				
				<div class="player">
					
					<div class="card__thumbnail card__thumbnail--big"> <!-- card__thumbnail--podcast, card__thumbnail--video to add icons-->
						<picture data-link="/players/{{ teamPlayer.player.id }}/show">						
							<img class="lazyload" data-srcset="{{ avatar }}, {{ avatar }} 2x" alt="{{ teamPlayer.player.name }} {{ teamPlayer.player.surname }}"/>						
						</picture>
						<noscript>
								<picture>
									<!--[if IE 9]><video style="display: none;"><![endif]-->
									<source srcset="{{ avatar }}" media="(max-width: 736px)"/>
									<!--[if IE 9]></video><![endif]-->
									<img src="{{ avatar }}" alt="{{ teamPlayer.player.name }} {{ teamPlayer.player.surname }}"/>
								</picture>
						</noscript>
					</div>
					<div class="player__name">
						<a href="{{ config('app.url') }}/players/{{ teamPlayer.player.id }}/show"><span>{{ teamPlayer.player.name }} {{ teamPlayer.player.surname }}</span></a>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		
	</div>
	
	{% if subscription.category %}
	<div class="card__footer--separated">	
		<span>{{ subscription.category.name }}</span>		
	</div>	
	{% endif %}
</div>
