<!-- partial-head.twig -->

{# Block head #}
{% block head %} 

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, maximum-scale=5">
    <meta name="format-detection" content="telephone=no">

    <link rel="icon" href="{{ asset('resources/assets') }}/images/cropped-GTA-2-32x32.png" sizes="32x32" />
    <link rel="icon" href="{{ asset('resources/assets') }}/images/cropped-GTA-2-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('resources/assets') }}/images/cropped-GTA-2-180x180.png" />
    <meta name="msapplication-TileImage" content="{{ asset('resources/assets') }}/images/cropped-GTA-2-270x270.png" />
    <link rel="mask-icon" color="#5bbad5" href="{{ asset('resources/assets') }}/images/safari-pinned-tab.svg">    

    <link rel='stylesheet' id='rookie-lato-css'  href='//fonts.googleapis.com/css?family=Lato%3A400%2C700%2C400italic%2C700italic&#038;ver=5.0.9' type='text/css' media='all' />
    <link rel='stylesheet' id='rookie-oswald-css'  href='//fonts.googleapis.com/css?family=Oswald%3A400%2C700&#038;ver=5.0.9' type='text/css' media='all' />

    {# HTTP/2 Server pushed global CSS - Used on every page #}
    <link rel="stylesheet" href="{{ asset('resources/assets') }}/css/custom.css?v={{version}}">


    <title>GTA Tennis</title>

{% endblock %}
