/* single-profilo.twig styles */
/* line 7, ../../../src/sass/single-profilo.scss */
.single-profilo .card__inner, .single-circolo .card__inner { padding: 0px; }
/* line 13, ../../../src/sass/single-profilo.scss */
.single-profilo .card--player .card__thumbnail--big, .single-profilo .card--teacher .card__thumbnail--big, .single-circolo .card--player .card__thumbnail--big, .single-circolo .card--teacher .card__thumbnail--big { border-radius: 50%; border: 2px solid #333; overflow: hidden; min-width: 100px; height: 100px; }
/* line 25, ../../../src/sass/single-profilo.scss */
.single-profilo h1, .single-circolo h1 { font-size: 26px !important; margin: 0 6px; }
/* line 32, ../../../src/sass/single-profilo.scss */
.single-profilo .section-title span, .single-circolo .section-title span { display: block; }
/* line 37, ../../../src/sass/single-profilo.scss */
.single-profilo .rank, .single-circolo .rank { color: #fff; font-size: 18px; }
/* line 41, ../../../src/sass/single-profilo.scss */
.single-profilo .rank span, .single-circolo .rank span { font-size: 26px; font-weight: normal; color: #000000; background-color: #FFE200; border-radius: 50%; width: 50px; height: 50px; display: inline-block; line-height: 50px; text-align: center; }
