<!--footer.twig section -->

<footer class="footer flex flex--center">
	<!--div class="footer__info flex flex--column">
		<a class="mail-link" href="mailto:luca.fois@gtatennis.it">luca.fois@gtatennis.it</a>
		<a class="phone-link" href="tel:+393381734567">338 1734567</a>
	</!div-->
</footer>
