<!--header.twig section -->

<header class="header">

	<link
	rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous"/>

	<!--link per icon-font -->
	<link
	rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

	<!-- Typeahead -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-typeahead/2.10.6/jquery.typeahead.min.css"/>
	<link rel="stylesheet" href="{{ asset('resources/assets') }}/css/jquery-fancybox.min.css" type="text/css" media="screen"/>

	 <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<nav class="navbar navbar-expand-lg navbar-light">
	<div class="logo col-xl-2 col-lg-2">
		<a href="{{ config('app.url') }}">
			<picture
				class="logo__picture">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source
				src="{{ asset('resources/assets') }}/images/logo-tennisamatoriale@2x.png 2x"/>
				<!--[if IE 9]></video><![endif]-->
				<img src="{{ asset('resources/assets') }}/images/logo-tennisamatoriale.png" alt="logo GTA Tennis"/>
			</picture>
		</a>
	</div>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
		{% if current_user.id %}

				<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul
					class="nav navbar-nav">
					<!-- User Account Menu -->
					<li
						id="user-logo" class="dropdowns user user-menu open">
						<!-- Menu Toggle Button -->
						<a href="#" class="dropdowns-toggle" data-toggle="dropdowns" aria-expanded="true">
							<img src="{{ avatar }}" class="img-circle" style="width: 40px; height: 40px; margin-top: -5px;">
						</a>
						<ul id="user-menu" class="dropdowns-menu" style="display: none">
							<!-- The user image in the menu -->
							<!-- Menu Footer-->
								{% if current_user.id_role == 2 %}
								<li class="user-footer"> <a href="{{ config('app.url') }}/players/{{ current_user.id }}/show" class="btn btn-default btn-flat">Profilo Publico</a>
								{% elseif current_user.id_role == 3 %}
								<li class="user-footer"> <a href="{{ config('app.url') }}/club/{{ current_user.id }}/show" class="btn btn-default btn-flat">Profilo Publico</a>
								{% elseif current_user.id_role == 4 %}
								<li class="user-footer"> <a href="{{ config('app.url') }}/partner/{{ current_user.id }}/show" class="btn btn-default btn-flat">Profilo Publico</a>
								{% endif %}
								<!--div style="margin: 5px; border:1px solid #999966;"></div-->
								<a href="{{ config('app.url') }}/edit-profile" class="btn btn-default btn-flat">Modifica Profilo</a>
								<!--div style="margin: 5px; border:1px solid #999966;"></div-->
								{% if current_user.id_role == 1 %}
									<a href="{{ config('app.url') }}/admin/home" class="btn btn-default btn-flat">Amministrazione</a>
								{% endif %}
								<a href="{{ config('app.url') }}/logout" class="btn btn-default btn-flat">Esci</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>

		{% else %}

			<a href="{{ config('app.url') }}/login" class="desktop-tablet login col-xl-2 col-lg-2 col-sm-1 col-xs-1 col-1"
			role="button" style="background-position: center;"></a>
		{% endif %}
	  <div class="collapse navbar-collapse  col-xl-8 col-lg-8" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="" href="{{ config('app.url') }}pages/chi-siamo">Chi siamo</a></li>
			<li class="nav-item"><a class="" href="{{ config('app.url') }}pages/gallery">Gallery</a></li>
			<li class="nav-item"><a class="" href="{{ config('app.url') }}news">News</a></li>
			<li class="nav-item">
	        <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Tornei
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<ul style="margin-left: 20px; margin-right: 20px;">
					{% for label, item in menu_tournaments %}
						{% if item.items is defined %}
							<li class="header__main-menu__item {{label|lower}}-item block-item">
								<input id="{{label|lower}}-check" hidden type="checkbox"/>
								<label for="{{label|lower}}-check" class="item-label item-label--opener">{{label}}</label>
								<ul class="submenu">
									{% for subitem in item.items %}
										<li class="header__main-menu__subitem {{subitem.name|lower}}-subitem">
											<a href="{{subitem.link}}" class="yellow-text-link yellow-text-link--enter">{{subitem.edition_name}}<br>{{ subitem.name }}</a>
											<a href="{{ config('app.url') }}/calendar/event/{{item.id_edition}}" class="yellow-text-link yellow-text-link--enter">
												<span style="font-size: 13px">&nbsp;&nbsp;&nbsp;Match In Programma</span>
											</a>
											<a href="{{ config('app.url') }}/match-archive/event/{{item.id_edition}}" class="yellow-text-link yellow-text-link--enter">
												<span style="font-size: 13px">&nbsp;&nbsp;&nbsp;Match Disputati</span>
											</a>
										</li>
									{% endfor %}
								</ul>
							</li>
						{% else %}
							<li class="header__main-menu__item {{label|lower}}-item single-item">
								<a class="item-label" href="{{item.link}}">{{label}}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
	        </div>
	       </li>
			<li class="nav-item"><a class="" href="{{ config('app.url') }}/pages/ranking">Ranking</a></li>
			<li class="nav-item"><a class="" href="{{ config('app.url') }}/players/m">Giocatori</a></li>
			<li class="nav-item"><a class="" href="{{ config('app.url') }}/clubs">Circoli</a></li>
			<li class="nav-item"><a class="item-label" href="{{ config('app.url') }}/archive/matches">Archivio</a></li>
			<li class="nav-item"><a class="" href="{{ config('app.url') }}/partners">Partners</a></li>
			<li class="nav-item"><a class="" href="{{ config('app.url') }}/pages/regolamento">Regolamento</a></li>
			<li class="nav-item"><a class="" href="{{ config('app.url') }}/pages/regolamento">Albo d'oro</a></li>
				
	    </ul>
	  </div>

					{% if current_user.id %}

							<!-- Navbar Right Menu -->
						<div class="navbar-custom-menu">
							<ul
								class="nav navbar-nav">
								<!-- User Account Menu -->
								<li
									id="user-logo" class="dropdowns user user-menu open">
									<!-- Menu Toggle Button -->
									<a href="#" class="dropdowns-toggle" data-toggle="dropdowns" aria-expanded="true">
										<img src="{{ avatar }}" class="img-circle" style="width: 40px; height: 40px; margin-top: -5px;">
									</a>
									<ul id="user-menu" class="dropdowns-menu" style="display: none">
										<!-- The user image in the menu -->
										<!-- Menu Footer-->
											{% if current_user.id_role == 2 %}
											<li class="user-footer"> <a href="{{ config('app.url') }}/players/{{ current_user.id }}/show" class="btn btn-default btn-flat">Profilo Publico</a>
											{% elseif current_user.id_role == 3 %}
											<li class="user-footer"> <a href="{{ config('app.url') }}/club/{{ current_user.id }}/show" class="btn btn-default btn-flat">Profilo Publico</a>
											{% elseif current_user.id_role == 4 %}
											<li class="user-footer"> <a href="{{ config('app.url') }}/partner/{{ current_user.id }}/show" class="btn btn-default btn-flat">Profilo Publico</a>
											{% endif %}
											<!--div style="margin: 5px; border:1px solid #999966;"></div-->
											<a href="{{ config('app.url') }}/edit-profile" class="btn btn-default btn-flat">Modifica Profilo</a>
											<!--div style="margin: 5px; border:1px solid #999966;"></div-->
											{% if current_user.id_role == 1 %}
												<a href="{{ config('app.url') }}/admin/home" class="btn btn-default btn-flat">Amministrazione</a>
											{% endif %}
											<a href="{{ config('app.url') }}/logout" class="btn btn-default btn-flat">Esci</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>

					{% else %}

						<a href="{{ config('app.url') }}/login" class="mobile login col-xl-2 col-lg-2 col-sm-1 col-xs-1 col-1"
						role="button" style="background-position: center;"></a>
					{% endif %}

	</nav>


	<div class="header__top flex flex-row">



		<!-- style di dropdown e elementi menu(<a>...) -->
		<style>

			@media(max-width: 767px) .main-header .navbar-custom-menu {
				float: right;
			}
			.main-header .navbar-custom-menu,
			.main-header .navbar-right {
				float: right;
			}
			* {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}

			div {
				display: block;
			}

			@media(max-width: 991px) .navbar-custom-menu > .navbar-nav {
				float: right;
			}
			@media(max-width: 991px) .navbar-custom-menu .navbar-nav {
				margin: 0;
				float: left;
			}
			.navbar-nav {
				margin: auto;
			}
			.nav {
				padding-left: 0;
				margin-bottom: 0;
				list-style: none;
			}
			* {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}


			small.nomeCognome {
				color: #fff;
				font-size: 26px;
			}

			.navbar-custom-menu > .navbar-nav > li {
				position: static;
			}
			.navbar-custom-menu > .navbar-nav > li {
				position: relative;
			}
			.navbar-custom-menu .navbar-nav > li {
				float: left;
			}
			.nav > li {
				position: relative;
				display: block;
			}
			.dropdowns,
			.dropup {
				position: relative;
			}
			* {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}

			li {
				display: block;
				text-align: -webkit-match-parent;
			}
			.nav {
				padding-left: 0;
				margin-bottom: 0;
				list-style: none;
			}


			.skin-blue-light .main-header .navbar .nav > li > a {
				color: #fff;
			}

			.navbar-custom-menu .navbar-nav > li > a {
				padding-top: 15px;
				padding-bottom: 15px;
				margin-left: -20px;
				line-height: 20px;
			}

			.main-header .navbar-custom-menu a,
			.main-header .navbar-right a {
				background: transparent;
			}

			a:active {
			    color: #FFE200;
			}
			.nav > li > a {
				position: relative;
				display: block;
				padding: 10px 15px;
			}

			@media screen and (min-width: 769px) and (max-width: 1024px) {
			.navbar-nav > li > a {
					font-size:11px;
				}
			}

			@media screen and (min-width: 1025px) and (max-width: 1280px) {
			.navbar-nav > li > a {
					font-size:14px;
				}
			}

			@media screen and (max-width: 768px) {
			.navbar-nav > li > a {
    		margin-left: -20px;
				}
				}



			.navbar-nav > li > a {
			    /* margin-right: 30px; */
			    /* margin-top: -10px; */
			    padding: 5px;
			}

			.nav > li > a > img {
				max-width: none;
				border: 2px solid #333;
			}
			.img-circle {
				border-radius: 50%;
			}
			img {
				vertical-align: middle;
			}
			img {
				border: 0;
			}

			.hidden-xs {
				display: none !important;
			}
			* {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			.skin-blue-light .main-header .navbar .nav > li > a {
				color: #fff;
			}

			a:-webkit-any-link {
				cursor: pointer;
			}

			.nav {
				padding-left: 0;
				margin-bottom: 0;
				list-style: none;
			}


			.navbar-custom-menu > .navbar-nav > li > .dropdowns-menu {
				background: rgba(0, 0, 0, 0.7);
				/* border-radius: 8px; */
				border: 2px solid #333;
				position: absolute;
				top: 70px;
				right: 1px;
				left: auto;
				margin-right: 15px;
			}
			.navbar-nav > .user-menu > .dropdowns-menu,
			.navbar-nav > .user-menu > .dropdowns-menu > .user-body {
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			.navbar-nav > .user-menu > .dropdowns-menu {
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				padding: 1px 0 0;
				border-top-width: 0;
				border: 2px solid #333;
				/* border-radius: 8px; */
			}

			.navbar-nav .open .dropdowns-menu {
				position: static;
				float: none;
				width: auto;
				margin-top: 0;
				background-color: transparent;
				border: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			.navbar-nav > li > .dropdowns-menu {
				margin-top: 0;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
			.open > .dropdowns-menu {
				display: block;
			}
			.dropdowns-menu {
				box-shadow: none;
				border-color: #eee;
			}
			.dropdowns-menu {
				position: absolute;
				top: 100%;
				left: 0;
				z-index: 1000;
				display: none;
				float: left;
				min-width: 160px;
				padding: 5px 0;
				margin: 2px 0 0;
				font-size: 14px;
				text-align: left;
				list-style: none;
				background: rgba(0, 0, 0, 0.5);
				-webkit-background-clip: padding-box;
				background-clip: padding-box;
				border: 1px solid #ccc;
				border: 1px solid rgba(0, 0, 0, .15);
				border-radius: 4px;
				-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
				box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
			}

			.navbar-nav > .user-menu > .dropdowns-menu > li.user-header {
				height: 175px;
				padding: 10px;
				text-align: center;
			}
			.skin-blue-light .main-header li.user-header {
				background-color: rgba(0, 0, 0, 0.5);
			}
			* {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}


			.navbar-nav > .user-menu > .dropdowns-menu > .user-footer {
				padding: 10px;
				width: 100%;
				display: grid;
				justify-content: center;
				display: -webkit-grid;
				-webkit-justify-content: center;
			}

			* {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}

			li {
				display: block;
				text-align: -webkit-match-parent;
			}

			* {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}

			div {
				display: block;
			}


			.navbar-nav > .user-menu > .dropdowns-menu > .user-footer .btn-default {
				color: #fff;
				/* border-radius: 8px; */
				background: black;
				border: 1px solid #fff;
				margin: 1px;
				width: 100%;
			}

			.skin-blue-light .main-header .navbar .dropdowns-menu li a {
				color: #fff;
			}


			.btn.btn-flat {
				border-radius: 0;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				border-width: 1px;
			}
			.btn-default {
				background-color: #f4f4f4;
				color: #444;
				border-color: #ddd;
			}
			.btn {
				border-radius: 3px;
				-webkit-box-shadow: none;
				box-shadow: none;
				border: 1px solid transparent;
			}
			.btn-default {
				background-color: #fff;
				border-color: #ccc;
			}
			.btn {
				display: inline-block;
				padding: 6px 12px;
				margin-bottom: 0;
				font-size: 14px;
				font-weight: 400;
				line-height: 1.42857143;
				text-align: center;
				white-space: nowrap;
				vertical-align: middle;
				-ms-touch-action: manipulation;
				touch-action: manipulation;
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				background-image: none;
				border: 1px solid transparent;
				border-radius: 4px;
			}

			.skin-blue-light .main-header .navbar {
				background-color: rgba(0, 0, 0, 0.5);
			}

			.main-header .navbar {
				margin: 0;
			}

			.main-header .logo,
			.main-header .navbar {
				width: 100%;
				float: none;
			}
			.main-header .navbar {
				-webkit-transition: margin-left 0.3s ease-in-out;
				-o-transition: margin-left 0.3s ease-in-out;
				transition: margin-left 0.3s ease-in-out;
				margin-bottom: 0;
				margin-left: 230px;
				border: none;
				min-height: 50px;
				border-radius: 0;
			}
			.navbar-static-top {
				z-index: 1000;
				border-width: 0 0 1px;
			}
			.navbar {
				position: relative;
				min-height: 50px;
				/*margin-bottom: 20px;*/
				border: 1px solid transparent;
			}

			nav {
				display: block;
			}

			.main-header .navbar-custom-menu {
				float: right;
			}
			.main-header .navbar-custom-menu,
			.main-header .navbar-right {
				float: right;
			}


			<!-- elementi menu partite giocate -- > ul.header__main-menu__body.flex.flex--column {
				padding: 0;
			}

			a.yellow-text-link.yellow-text-link--enter {
				margin-left: 27px;
				margin-right: 27px;
				width: calc(100% - 70px);
			}

			<!-- elementi hamburger -- > .hamburger.close {
				width: 50px;
				height: 50px;
				background-position: 27px -731px;
			}

			.hamburger {
				padding: 15px 0 30px 23px;
				display: inline-block;
				cursor: pointer;
				transition-property: opacity, filter;
				transition-duration: 0.15s;
				transition-timing-function: linear;
				font: inherit;
				color: inherit;
				text-transform: none;
				background-color: transparent;
				border: 0;
				margin: 0;
				overflow: visible;
			}
			.hamburger:hover {
				opacity: 0.7;
			}
			.hamburger.is-active:hover {
				opacity: 0.7;
			}
			.hamburger.is-active .hamburger-inner,
			.hamburger.is-active .hamburger-inner::before,
			.hamburger.is-active .hamburger-inner::after {
				background-color: #fff;
			}

			.hamburger-box {
				width: 40px;
				margin-left: 10px;
				margin-top: -5px;
				height: 24px;
				display: inline-block;
				position: relative;
			}

			.hamburger-inner {
				display: block;
				top: 50%;
				margin-top: -2px;
			}

			.hamburger-inner,
			.hamburger-inner::before,
			.hamburger-inner::after {
				width: 35px;
				height: 2px;
				background-color: #fff;
				border-radius: 4px;
				position: absolute;
				transition-property: transform;
				transition-duration: 0.15s;
				transition-timing-function: ease;
			}
			.hamburger-inner::before,
			.hamburger-inner::after {
				content: "";
				display: block;
			}
			.hamburger-inner::before {
				top: -10px;
			}
			.hamburger-inner::after {
				bottom: -10px;
			}


			/*
               * Slider
               */
			.hamburger--slider .hamburger-inner {
				top: 2px;
			}
			.hamburger--slider .hamburger-inner::before {
				top: 10px;
				transition-property: transform, opacity;
				transition-timing-function: ease;
				transition-duration: 0.15s;
			}
			.hamburger--slider .hamburger-inner::after {
				top: 20px;
			}

			.hamburger--slider.is-active .hamburger-inner {
				transform: translate3d(0, 10px, 0) rotate(45deg);
			}
			.hamburger--slider.is-active .hamburger-inner::before {
				transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
				opacity: 0;
			}
			.hamburger--slider.is-active .hamburger-inner::after {
				transform: translate3d(0, -20px, 0) rotate(-90deg);
			}
		</style>


		<!-- elementi display: none; menu -->
		<nav class="header__main-menu"></nav>
		{# % include '../../components/partials/partial-search-form.twig' % #}
	</div>
</header>
