{% if current_user.id_role == 2 %}
    {# Se sono un giocatore #}
    {% if tournament.edition.edition_type == 0 %}
        {# Torneo Singolo #}
        <div class="card" style="padding-bottom: 20px"> 
            <div class="card__content">        
                <div class="section-title "><h2>Iscriviti a questo torneo</h2></div>
                <p class="abstract">Le iscrizioni sono aperte fino al {{ tournament.registration_deadline_date|date('d/m/Y') }}</p>
                
                <div class="cta-container cta-container--center">
                    <a href="#modal_subscription" class="cta cta--enter cta--yellow" onClick="setSubscriptionData({{tournament.id}},{{id_zone}},{{id_category_type}}, {{current_user.id}});">Iscrizione torneo</a>
                </div>
            
            </div>
        </div>

    {% else %}
        {# Torneo Doppio o a Squadre #}
        <div class="section-title "><h2>Iscrivi la tua squadra a questo torneo</h2></div>
        <div class="card-content section-title section-title--no-separator section-title--small"><p class="abstract">Seleziona il secondo giocatore titolare e la riserva</p></div>

        <form id="register-team" action="{{ config('app.url') }}/tournamentSubscribe" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token() }}">
            <input type="hidden" name="id_tournament" value="{{ tournament.id }}">
            <input type="hidden" name="id_zone" value="{{ id_zone }}">
            <input type="hidden" name="select-category-type" value="{{ id_category_type }}">
            <input type="hidden" name="select-player-1" value="{{ current_user.id }}">

            <div class="input-field input-field--select input-field--center">
                <select id="select-player-2" name="select-player-2" class="dropdown dropdown--light">
                    <option selected disabled >Secondo titolare...</option>
                    {% for option in players %}
                        <option value="{{ option.id }}">{{ option.name }}</option>
                    {% endfor %}
                </select>
                <select id="select-player-3" name="select-player-3" class="dropdown dropdown--light">
                    <option selected disabled >Riserva...</option>
                    {% for option in players %}
                        <option value="{{ option.id }}">{{ option.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="cta-container cta-container--center">
                <button type="submit" class="cta cta--enter cta--yellow">Registra squadra</a>
            </div>
        </form>
        <div class="section-title section-title--no-separator section-title--small"></div>

    {% endif %}
{% else %}
    <div class="card" style="padding-bottom: 20px"> 
        <div class="card__content">        
            <div class="section-title "><h2>Iscriviti a questo torneo</h2></div>
            <p class="abstract">Le iscrizioni sono aperte fino al {{ tournament.registration_deadline_date|date('d/m/Y') }}</p>            
            <p class="abstract">Per iscriverti a questo torneo devi prima eseguire l'accesso</p>        
        </div>
    </div>
{% endif %}


<!-- finestra popup -->
<a href="#x" class="overlay" id="modal_subscription"></a>
<div class="popup popup_subscription">
	<h2>Iscrizione al Torneo</h2>
	<div class="content">
		<div style="display: flex; justify-content: center;" class="select-div">
			<div class="editorial">						
				<p style="text-align: center">
                    <strong>
                    Vuoi davvero iscriverti al torneo?
                    </strong>                    
                </p>		
                <p style="text-align: center">
                    <input type="hidden" id="id_tournament" name="id_tournament" value="">
                    <input type="hidden" id="id_zone" name="id_zone" value="">
                    <input type="hidden" id="id_category_type" name="id_category_type" value="">
                    <input type="hidden" id="id_user" name="id_user" value="">
                    <a class="button"  href="#close" style="text-decoration: none; cursor: pointer;">Annulla</a>
                    <a class="button"  href="javascript:void(0);" onclick="subscribePlayer();"  style="text-decoration: none; cursor: pointer; background-color: #FFE200; border-radius: 5px; color: rgba(0, 0, 0, 0.7); padding: 5px;">Conferma</a>
                </p>		
			</div>                                                    
		</div>
	</div>
	<a class="close" title="Chiudere" href="#close"></a>
</div>

<script>

function setSubscriptionData(id_tournament, id_zone, id_category_type, id_user){
    var modal_subscription = document.querySelector('.popup_subscription');
    modal_subscription.querySelector('#id_tournament').value = id_tournament;
    modal_subscription.querySelector('#id_zone').value = id_zone;
    modal_subscription.querySelector('#id_category_type').value = id_category_type;
    modal_subscription.querySelector('#id_user').value = id_user;    
}

function subscribePlayer(){
    
    var modal_subscription = document.querySelector('.popup_subscription');
    var id_tournament = modal_subscription.querySelector('#id_tournament').value;
    var id_zone = modal_subscription.querySelector('#id_zone').value;
    var id_category_type = modal_subscription.querySelector('#id_category_type').value;
    var id_user = modal_subscription.querySelector('#id_user').value;

    $.ajax({
        url: "{{ config('app.url') }}/tournamentSubscription",
        data: {
            "_token": "{{ csrf_token() }}",   
            id_tournament: id_tournament,
            id_zone: id_zone,
            id_category_type: id_category_type,
            players: [id_user]
        },
        type: "POST",
        success: function(data){
            var url = document.location.href.split('#')[0];
            document.location.href = url;
        }
    });

}
</script>