/* list-item-giocatore.twig styles */
/* line 29, /Users/concettaorlandi/rogiostrap.amatoripadelULTIMA/src/sass/_mixins.scss */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #445C69; }

/* line 33, /Users/concettaorlandi/rogiostrap.amatoripadelULTIMA/src/sass/_mixins.scss */
::-moz-placeholder { /* Firefox 19+ */ color: #445C69; opacity: 1; }

/* line 38, /Users/concettaorlandi/rogiostrap.amatoripadelULTIMA/src/sass/_mixins.scss */
:-ms-input-placeholder { /* IE 10+ */ color: #445C69; }

/* line 42, /Users/concettaorlandi/rogiostrap.amatoripadelULTIMA/src/sass/_mixins.scss */
:-moz-placeholder { /* Firefox 18- */ color: #445C69; }

/* line 6, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore { padding: 13px 0; border-bottom: 1.5px solid #ffffff; }
/* line 12, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .card__inner .player { background: rgba(0, 0, 0, 0.5) url("../../../images/icons.svg") no-repeat right 0 top -301px; background-size: 34px; display: flex; align-items: center; justify-content: center; /* border-radius: 8px; */ padding-top: 10px; padding-bottom: 10px; padding-left: 10px; }
/* line 23, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .card__inner .player__ranking { color: #fff; font-size: 30px; font-weight: normal; margin-right: 12px; min-width: 63px; }
/* line 31, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .card__inner .player__name { color: #fff; font-weight: normal; font-size: 18px; text-align: center; }
/* line 42, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .card__thumbnail { border: 2px solid #333; width: 65px; border-radius: 50%; overflow: hidden; margin-right: 12px; }
/* line 50, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .player__data { border-radius: 4px; display: flex; justify-content: space-between; background-color: #999966; margin-top: 6px; padding: 4px; }
/* line 58, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
.list-item-giocatore .player__data span { color: #FFE200; }

@media screen and (max-width: 320px) { /* line 68, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
  .list-item-giocatore { margin-left: -12px; width: 108%; }
  /* line 73, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
  .list-item-giocatore .card__inner .player { min-width: 313px; padding-left: 1px; } }
@media screen and (min-width: 100px) and (max-width: 350px) { /* line 81, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
  .list-item-giocatore .card__inner .player__name { min-width: 125px; text-align: left; } }
@media screen and (min-width: 351px) and (max-width: 399px) { /* line 88, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
  .list-item-giocatore .card__inner .player__name { min-width: 150px; max-width: 151px; text-align: left; } }
@media screen and (max-width: 425px) and (min-width: 400px) { /* line 96, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
  .list-item-giocatore .card__inner .player__name { min-width: 200px; max-width: 201px; text-align: left; } }
@media screen and (min-width: 500px) { /* line 104, ../../../../../src/sass/components/partials/list-item-giocatore.scss */
  .list-item-giocatore .card__inner .player__name { min-width: 220px; text-align: left; } }
